---
BasedOnStyle: Microsoft
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 1
ReflowComments: true
ColumnLimit: 100
IndentCaseLabels: true
BinPackArguments: false
BinPackParameters : false
# BreakBeforeBinaryOperators: All
CommentPragmas: '^'
SortIncludes: true
AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
  AlignCompound: true
  PadOperators: true
PenaltyBreakBeforeFirstCallParameter: 100
UseTab: Never
# AlignArrayOfStructures: Left
